th, td{
            border: 1px solid;
            /* white-space：pre-line;是讓換行時，在網頁顯示也跟著換行 */
            white-space: pre-line;
            /* 文字水平置中 */
            text-align: center;
            padding: 5px;
}
table{
    /* 折疊線條 */
    border-collapse:collapse;
}
.justify{
    text-align-last: justify;
    padding-left: 60px;
    padding-right: 60px;
}

.a{
    writing-mode: vertical-lr;
}
 
.fsize13{
    font-size: 13px;
}

body{
    font-family:"標楷體", "DFKai-SB", serif;       
}
.week{
    width: 64px;
}